@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@import "prismjs/themes/prism-tomorrow.css";


@custom-variant dark (&:where(.dark,.dark *));

*{
      font-family: "Montserrat", sans-serif;
}

@theme{
    --color-primary:#E6CCFF;
}


::-webkit-scrollbar{
    display: none;
}

.reset-tw:not(pre):not(code){
    all:revert;
}